.images-list {
  .filters-options {
    align-items: center;
  }

  .checkbox-group {
    display: flex;
    align-items: center;

    label.checkbox-label {
      cursor: pointer;
      margin-bottom: 0;
      margin-right: 15px;
    }

    label.switch {
      margin: 0;
    }
  }

  .filter-btn {
    display: flex !important;
    justify-content: flex-end;

    .reset-btn {
      margin-left: 8px;
      padding: 0 5px;
      padding-top: 5px;
    }
  }

  .list-type {
    .list-type-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 10px;
      margin-right: 0px;
  
      p {
        color: var(--theme-secondary);
        margin-bottom: 0;
        margin-right: 10px;
        font-size: 16px;
      }
  
      .buttons i {
        font-size: 20px;
        color: var(--theme-secondary);
        border: 1px solid var(--theme-secondary);
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
  

  .images {
    display: flex;
    flex-wrap: wrap;

    .image {
      width: 24%;
      margin-left: 1%;
      padding: 10px;
      border-radius: 5px;
      background: #ecf3fa;
      box-shadow: 1px 1px 3px grey;
      cursor: pointer;
      margin-bottom: 15px;

      &:hover {
        transition: .2s all ease;
        box-shadow: 2px 2px 5px grey;
      }

      .thumbnail {
        width: 100%;
        height: 190px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
        }
      }

      .badge {
        background: #8f9aa5 !important;
      }

      .options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px 0;

        .whole {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .image .img-vertical img {
      height: 190px;
      width: auto;
    }

    .image.selected {
      background: rgb(255 204 1);
      box-shadow: 2px 2px 5px gray;
    }
  }
}


.images-list.big-images {

  .image {
    width: 49% !important;

    .thumbnail {
      height: unset !important;
    }
  }

}

.image .img-vertical img {
  width: auto !important;
  height: 100% !important;
  vertical-align: top;
}

.image .image-owned.img-vertical img {
  height: 190px !important;
  width: auto !important;
}

@media screen and (max-width: 1600px) {
  .images-list.big-images {

    .image {
      width: 100% !important; 
    }
    
  }
}


@media screen and (max-width: 1500px) {
  .images-list {
    .image {
      width: 32% !important;
    }
  }

}

@media screen and (max-width: 1200px) {
  .images-list {
    .image {
      width: 49% !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .images-list {
    .filters {
      flex-direction: column;

      &>div{
        width: 100% !important;
      }

      .filters-options {

        &>div {
          margin-bottom: 15px;
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .images-list {
    .image {
      width: 100% !important;
    }

    .filter-btn {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }

}

@media screen and (max-width: 400px) {
  .images-list {
    .picker label {
      font-size: 12px !important;
    }

    .image .options button {
      padding: 0.375rem 0 !important;
      width: 48%;
    }
  }

}
